# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site


# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.husky

# Misc
.DS_Store

# Hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.markdownlint.yaml

# Obsidian
! .obsidian/workspace.json
.DS_Store
