<div id="artplum">
  <canvas id="plum-canvas" width="400" height="400"></canvas>
</div>

<style>
  #artplum {
    position: fixed;
    display: none;
    index: 0;
    opacity: 0.8;
    pointer-events: none;
    z-index: -1;
    mask-image: radial-gradient(circle, transparent, black);
    -webkit-mask-image: radial-gradient(circle, transparent, black);

    @media (min-width: 992px) {
      display: block !important;
    }
  }
</style>

<script defer src="{{ '/assets/js/dist/plum.min.js' | relative_url }}"></script>
