<footer
  aria-label="Site Info"
  class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  "
>
  <p>
    {{- '©' }}
    <time>{{ 'now' | date: '%Y' }}</time>

    {% assign authors = page.author | default: page.authors %}

    {{ site.data.locales[lang].post.written_by }}

    <strong>
      {% if authors %}
        {% for author in authors %}
          {% assign author_data = site.data.authors[author] %}
          {% if author_data.url %}
            <a href="{{ author_data.url }}">{{ author_data.name }}</a>.
          {% else %}
            {{ author_data.name }}
          {% endif %}
          {% unless forloop.last %}, {% endunless %}
        {% endfor %}
      {% else %}
        <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
      {% endif %}
    </strong>

    {% if site.data.locales[include.lang].copyright.brief %}
      <span
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ site.data.locales[include.lang].copyright.verbose }}"
      >
        {{ site.data.locales[include.lang].copyright.brief }}
      </span>
    {% endif %}
  </p>
</footer>
