<div class="share-wrapper">
  <span class="share-label">{{ site.data.locales[include.lang].post.share }}</span>
  <span class="share-icons">
    {% capture title %}{{ page.title }} - {{ site.title }}{% endcapture %}
    {% assign title = title | uri_escape %}
    {% assign url = page.url | absolute_url | url_encode %}

    {% for share in site.data.share.platforms %}
      {% assign label = share.type %}
      {% assign link = share.link | replace: 'TITLE', title | replace: 'URL', url %}
      <span class="tooltip-container" tabindex="0"
            data-title="{{ label }}" data-tooltip-position="left">
        <a href="{{ link }}" target="_blank" rel="noopener">
          {% include icons.html icon=share.icon class="fa-fw" %}
        </a>
        <div class="tooltip" data-pos="left">{{ label }}</div>
      </span>
    {% endfor %}

    {% assign label_copy = site.data.locales[include.lang].post.button.share_link.title %}
    {% assign label_succeed = site.data.locales[include.lang].post.button.share_link.succeed %}

    <span class="tooltip-container" tabindex="0"
          data-title="{{ label_copy }}"
          data-title-succeed="{{ label_succeed }}"
          data-tooltip-position="top">
      <button id="copy-link" aria-label="Share link">
        {% include icons.html icon="share" class="fa-fw" %}
      </button>
      <div class="tooltip" data-pos="left">{{ label_copy }}</div>
    </span>
  </span>
</div>
