<nav class="post-navigation" aria-label="Post Navigation">
  {% assign previous = site.data.locales[include.lang] .post.button.previous %}
  {% assign next = site.data.locales[include.lang].post.button.next %}

  {% if page.previous.url %}
    <a
      href="{{ site.baseurl }}{{ page.previous.url }}"
      class="navigation"
      aria-label="{{ previous }}"
    >
      <p>{{ page.previous.title }}</p>
    </a>
  {% else %}
    <div class="navigation disabled" aria-label="{{ previous }}">
      <p>-</p>
    </div>
  {% endif %}

  {% if page.next.url %}
    <a
      href="{{ site.baseurl }}{{page.next.url}}"
      class="navigation"
      aria-label="{{ next }}"
    >
      <p>{{ page.next.title }}</p>
    </a>
  {% else %}
    <div class="navigation disabled" aria-label="{{ next }}">
      <p>-</p>
    </div>
  {% endif %}
</nav>
