<header id="header-wrapper" aria-label="Header">
  <div
    id="topbar"
  >
    <nav id="breadcrumb" aria-label="Breadcrumb">
      {% assign paths = page.url | split: '/' %} {% if paths.size == 0 or
      page.layout == 'home' %}

      <span><strong>Steve</strong></span>

      {% else %} {% for item in paths %} {% if forloop.first %}

      <span>
        <a href="{{ '/' | relative_url }}">
          <strong>Steve</strong>
        </a>
      </span>

      {% elsif forloop.last %}
      {% if page.layout == 'tag' or page.layout == 'tags' %}
      <span>{{ item | capitalize }}</span>
      {% else %}
      <span
        >{{ site.data.locales[include.lang].pages[item] | default: page.title
        }}</span
      >
      {% endif %} {% else %}

      {% if item == 'topics' or item == 'topic' %}
      <span>
        <a href="{{ item | append: '/' | relative_url }}">
          {{ site.data.locales[include.lang].pages[item] | default: item |
          capitalize }}
        </a>
      </span>
      {% else %}
      <span>
        <a href="{{ item | append: '/' | relative_url }}">
          {{ item | capitalize }}
        </a>
      </span>
      {% endif %} {% endif %} {% endfor %} {% endif %}
    </nav>

    <div class="topbar-right">
      <search id="search">
        <input
          class="form-control"
          id="search-input"
          type="search"
          aria-label="search"
          autocomplete="off"
          placeholder="{{ site.data.locales[include.lang].search.hint }}..."
        />
        {% include icons.html icon="search" class="fa-fw" %}
      </search>
      <button
        type="button"
        id="search-cancel"
      >
        {{- site.data.locales[include.lang].search.cancel -}}
      </button>

      <span class="icon-border"></span>

      <div class="mode-toggle-wrapper">
        {% unless site.theme_mode %}
        <button
          type="button"
          aria-label="Switch Mode"
          id="mode-toggle"
        >
          {% include icons.html icon="mode" class="i" %}
        </button>
        {% endunless %}
      </div>
    </div>
  </div>
</header>
