<header id="topbar-wrapper" class="flex-shrink-0" aria-label="Top Bar">
  <div
    id="topbar"
    class="d-flex align-items-center justify-content-between col-12 col-lg-11 col-xl-9 px-md-4 h-100"
  >
    <nav id="breadcrumb" aria-label="Breadcrumb">
      {% assign paths = page.url | split: '/' %} {% if paths.size == 0 or
      page.layout == 'home' %}

      <span><strong>Steve</strong></span>

      {% else %} {% for item in paths %} {% if forloop.first %}

      <span>
        <a href="{{ '/' | relative_url }}">
          <strong>Steve</strong>
        </a>
      </span>

      {% elsif forloop.last %}
      {% if page.layout == 'tag' or page.layout == 'tags' %}
      <span>{{ item | capitalize }}</span>
      {% else %}
      <span
        >{{ site.data.locales[include.lang].pages[item] | default: page.title
        }}</span
      >
      {% endif %} {% else %}

      {% if item == 'topics' or item == 'topic' %}
      <span>
        <a href="{{ item | append: '/' | relative_url }}">
          {{ site.data.locales[include.lang].pages[item] | default: item |
          capitalize }}
        </a>
      </span>
      {% else %}
      <span>
        <a href="{{ item | append: '/' | relative_url }}">
          {{ item | capitalize }}
        </a>
      </span>
      {% endif %} {% endif %} {% endfor %} {% endif %}
    </nav>

    <button type="button" id="search-trigger" class="btn btn-link" aria-label="Search">
      <i class="fas fa-search fa-fw"></i>
    </button>

    <div class="topbar-right d-flex align-items-center ms-3 ms-lg-0">
      <search id="search" class="align-items-center">
        <input
          class="form-control"
          id="search-input"
          type="search"
          aria-label="search"
          autocomplete="off"
          placeholder="{{ site.data.locales[include.lang].search.hint }}..."
        />
        <i class="fas fa-search fa-fw"></i>
      </search>
      <button
        type="button"
        id="search-cancel"
        class="btn btn-link text-decoration-none"
      >
        {{- site.data.locales[include.lang].search.cancel -}}
      </button>

      <span class="icon-border"></span>

      <div class="theme-toggle-wrapper">
        {% unless site.theme_mode %}
        <button
          type="button"
          class="btn btn-link"
          aria-label="Switch Mode"
          id="mode-toggle"
        >
          <i class="fas fa-adjust"></i>
        </button>
        {% endunless %}
      </div>
    </div>
  </div>
</header>
