@use '../abstracts/breakpoints' as bp;
@use '../abstracts/placeholders';

#archives {
  letter-spacing: 0.03rem;

  > h2 {
    margin-top: 3rem;
  }

  @include bp.lt(bp.get(sm)) {
    margin-top: -1rem;

    ul {
      letter-spacing: 0;
    }
  }

  .year {
    height: 3.5rem;
    font-size: 8em;
    opacity: 0.1;
    color: transparent;
    font-weight: 700;
    display: block;
    position: relative;
    margin-bottom: 4rem;
    top: 1rem;
    align-items: center;
    text-align: end;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: var(--text-muted-color);
  }


  ul {
    &:hover {
      li {
      opacity: 0.3;
      }
    }

    li {
      font-size: 1.1rem;
      line-height: 3rem;
      border-radius: 2px;

      &:hover {
        opacity: 1 !important;
        transition: none;
      }

      @extend %text-ellipsis;

      &:nth-child(odd) {
        background-image: linear-gradient(to right, transparent 20%, oklch(85% 0.02 80deg / 0.1) 50%, transparent);
      }
    }

    &:last-child li:last-child::before {
      height: 1.5rem;
    }
  } /* #archives ul */

  .date {
    white-space: nowrap;
    display: inline-block;
    position: relative;
    right: 0.5rem;

    &.month {
      width: 1.4rem;
      text-align: center;
      font-size: 0.875rem;
      margin-left: 0.25rem;
    }

    &.day {
      font-size: 85%;
      font-family: Inter, sans-serif;
    }
  }

  a {
    /* post title in Archvies */
    margin-left: 2.5rem;
    position: relative;
    top: 0.1rem;
    text-decoration: none;

    &:hover {
      border-bottom: none;
      color: var(--secondary-color);
    }

    &::before {
      /* the dot before post title */
      content: '';
      display: inline-block;
      position: relative;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      float: left;
      top: 1.35rem;
      left: 71px;
      border: 1px solid var(--icon-color);
      z-index: 1;
    }
  }
} /* #archives */
