@use "../abstracts/variables" as v;
@use "../abstracts/breakpoints" as bp;
@use "../abstracts/placeholders";

%name-hover {
  &:hover {
    color: var(--primary-color);
  }
}

@keyframes fade-away {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.1;
  }
}

.profile-wrapper {
  @extend %clickable-transition;

  margin-top: 6.3rem;
  margin-bottom: 7.2rem;
  align-items: center;
  flex-direction: column;
  display: flex;
  text-align: center;

  #avatar {
    display: block;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--avatar-border-color) 0 0 0 2px;
    transform: translateZ(0);

    @include bp.sm {
      width: 7rem;
      height: 7rem;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      display: block;
      transition: transform 0.3s ease-in-out;
      transition: transform 0.5s;
      margin: 0;

      &:hover {
        transform: scale(1.2);

        &::before {
          transform: scale(1.05);
        }
      }
    }
  }

  @include bp.lg {
    margin-top: 4rem;
    margin-bottom: 8rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  @include bp.xxxl {
    margin-top: 8rem;
    margin-bottom: 10rem;
  }
}

.site-title {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
  width: fit-content;
  display: block;

  a[flex] {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.stevehoang {
  width: 68%;
  max-width: 1090px;
  height: auto;
  display: block;

  path {
    fill: none;
    stroke: var(--site-title-color);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 12px;
    stroke-dasharray: 5200;
    stroke-dashoffset: 5200;
    transform-origin: center;
    animation: grow 15s ease-in-out infinite;
    animation-delay: 0s;
  }

  @keyframes grow {
    0% {
      opacity: 0;
    }

    5% {
      opacity: 1;
    }

    35%, 70% {
      stroke-dashoffset: 0;
    }

    75% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      stroke-dashoffset: 0;
    }
  }
}

@media (prefers-reduced-motion) {
  .stevehoang path {
    animation: none !important;
    stroke-dasharray: unset !important;
    opacity: 1;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header.profile-wrapper h1 {
  font-size: inherit;
  margin-top:0;
  margin-bottom: 0;
}

.site-subtitle {
  font-size: 95%;
  color: var(--site-subtitle-color);
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0.25rem;
  word-spacing: 1px;
  user-select: none;

  a {
    color: var(--secondary-color);

    &:hover {
      color: var(--primary-color);
    }
  }
}

#post-list {
  margin-top: 3rem;
  flex-grow: 1 !important;

  @include bp.lg {
    margin-top: 3.5rem;
  }

  @include bp.xl {
    padding: 0 0.25rem;
  }

  .card {
    border: 0;
    background-color: transparent;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;

    &:hover {
      text-decoration: none;
    }

    &:not(:last-child) {
      margin-bottom: 4rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid var(--tb-border-color);
      border-radius: 0;
    }

    .image {
      width: 100%;
      position: relative;
      display: inline-block;

      @include bp.md {
        width: 50%;
      }

      img {
        display: block;
        position: relative;
        z-index: 2;
        width: 100%;
        height: auto;
      }

      &.image-left {
        order: 1;
      }

      &.image-right {
        order: 2;
      }

      &::before {
        content: "";
        position: absolute;
        top: -35px;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background-image: var(--lqip-url);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
        transition: left 0.2s ease;

        @include bp.lt(bp.get(md)) {
          display: none;
        }
      }

      &.image-left::before {
        left: -35px;
      }

      &.image-right::before {
        left: 35px;
      }
    }

    .content-left {
      width: 100%;

      @include bp.md {
        width: 50%;
        order: 1;
      }
    }

    .content-right {
      width: 100%;

      @include bp.md {
        width: 50%;
        order: 2;
      }
    }

    @include bp.lt(bp.get(md)) {
      .image-left,
      .image-right {
        order: unset !important;
      }

      .image {
        order: 1;
        margin-bottom: 1.5rem;
      }

      .content-left,
      .content-right {
        order: 2;
      }
    }

    &:not(:has(.image)) {
      .card-body {
        text-align: center;
        margin: 0 auto;

        .card-title {
          margin-left: auto;
          margin-right: auto;
          display: flex;
        }

        .card-meta {
          justify-content: center;
        }
      }
    }

    .card-body {
      height: 100%;
      width: 100%;
      min-height: 250px;
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      flex: 1 1 auto;

      @include bp.md {
        padding: 1rem;
      }

      .card-title {
        @extend %text-clip;
        @extend %title-style;

        font-size: 2.45rem;
        opacity: 0.45;
        line-height: 1.35;
        margin: 0;
        font-weight: 700;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-rendering: optimizelegibility;
        color: oklch(85% 0.02 80deg / 0.5);
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: var(--text-muted-color);
      }

      &.body-right {
        .card-title {
          text-align: right;
        }

        .card-content {
          text-align: right;

          @include bp.lt(bp.get(md)) {
            text-align: revert;
          }
        }
      }

      .card-content {
        color: var(--text-muted-color);

        p {
          @extend %text-clip;

          line-height: 1.6;
          font-size: 1rem;
        }
      }

      .card-meta {
        color: var(--text-muted-color);
        display: flex;
        flex-grow: 1;
        align-items: flex-end;
        font-size: .85rem;

        i:first-child {
          margin-right: .25rem;
        }

        i:not(:first-child) {
          margin-left: 1.5rem;
          margin-right: .25rem;

          @include bp.md {
            margin-left: 1.75rem;
          }
        }

        > div:first-child {
          margin-right: auto;

          @extend %text-ellipsis;
        }

        > div:last-child {
          &.pin {
            margin-left: .25rem;
          }
        }
      }
    }
  }
}

.pagination {
  color: var(--text-color);
  font-family: v.$font-family-base;
  font-size: 1rem;
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-left: 0;
  list-style: none;
  display: flex;

  @include bp.lg {
    font-size: 0.85rem;
    justify-content: center;
    padding-top: 2rem;
    margin-top: 1.5rem;
  }

  a:hover {
    text-decoration: none;
  }

  .page-item {
    @include bp.lt(bp.get(lg)) {
      &:not(:first-child):not(:last-child) {
        display: none;
      }
    }

    @include bp.lg {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    .page-link {
      color: var(--text-color);
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 1.65rem;
      height: 1.65rem;
      border: 0;
      font-size: 1rem;
      background-color: inherit;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
        border-radius: 2px;
        z-index: -1;
      }
    }

    &.active .page-link {
      z-index: 1;
      background-color: transparent;

      &::before {
        background-color: oklch(65% 0.02 80deg / 0.1);
      }
    }

    &:not(.active) .page-link:hover {
      box-shadow: none;

      &::before {
        box-shadow: inset var(--btn-border-color) 0 0 0 1px;
      }
    }

    &.disabled {
      cursor: not-allowed;
      pointer-events: none;

      .page-link {
        color: rgb(108, 117, 125, 0.57);
      }
    }
  }

  .page-index {
    vertical-align: middle;

    @include bp.lg {
      display: none;
    }
  }
}
