@use '../abstracts/variables' as v;
@use '../abstracts/breakpoints' as bp;
@use '../abstracts/mixins' as mx;
@use '../abstracts/placeholders';

%-btn-post-nav {
  width: 50%;
  position: relative;
  border-radius: unset;
  border-color: var(--btn-border-color);
}

@mixin -dot($pl: 0.25rem, $pr: 0.25rem) {
  content: '\2022';
  padding-left: $pl;
  padding-right: $pr;
}

header {
  .post-desc {
    @extend %heading;

    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }

  .post-meta {
    margin-bottom: 2rem;
    color: var(--text-muted-color);

    span + span::before {
      @include -dot;
    }

    em,
    time {
      /* @extend %text-highlight;
      font-weight: 400; */
    }

    em {
      a {
        color: inherit;
      }
    }

    .cover-img {
      margin: 1rem 0;

      > figcaption {
        text-align: center;
        padding: 0.5rem 0;
      }
    }
  }
}

.post-tail-wrapper {
  @extend %text-sm;

  margin-top: 6rem;
  border-bottom: 1px double var(--main-border-color);
  color: var(--text-muted-color);

  .post-meta {
    a:not(:hover) {
    @extend %link-underline;
    }
  }

  .post-topic {
    display: flex;
    padding-bottom: .5rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  .share-wrapper {
    vertical-align: middle;
    align-items: center;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    %icon-size {
      font-size: 1rem;
    }

    .share-icons {
      display: flex;

      i {
        color: var(--site-btn-color);

        @extend %icon-size;
      }

      > * {
        @extend %icon-size;

        margin-left: 0.5rem;

        &:hover {
          i {
            @extend %btn-share-hover;
          }
        }
      }

      button {
        padding: 0;
        border: none;
        line-height: inherit;
        background-color: transparent;

        @extend %cursor-pointer;
      }
    } /* .share-icons */
  } /* .share-wrapper */
}

.post-tail-bottom {
  @include bp.lte(bp.get(sm)) {
    flex-wrap: wrap-reverse !important;

    > div:first-child {
      width: 100%;
      margin-top: 1rem;
    }
  }
}

.post-tags {
  line-height: 2rem;

  > i {
    margin-right: .25rem;
  }

  .post-tag {
    > a {
      text-decoration: none;
    }

    &:hover {
      @extend %tag-hover;
    }
  }
}

.post-navigation {
  display: flex;
  justify-content: space-between;

  @include bp.lt(bp.get(lg)) {
    @include mx.pl-pr(0);
  }

  .navigation {
    @extend %-btn-post-nav;

    color: var(--text-color);
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    text-align: center;
    line-height: 1.5;
    border: 1px solid var(--main-border-color);
    -webkit-tap-highlight-color: transparent;

    &:hover:not(.disabled) {
      background-color: transparent;
      border-color: var(--main-bg);
      color: var(--secondary-color);
    }

    &.disabled {
      @extend %-btn-post-nav;

      pointer-events: auto;
      cursor: not-allowed;
      background: none;
      color: gray;

      &::before {
        color: #86868678 !important
      }

      &.navigation:focus {
        box-shadow: none;
      }
    }

    &::before {
      color: var(--text-muted-color);
      font-size: 0.65rem;
      content: attr(aria-label);
      display: block;
    }

    &:first-child {
      border-radius: v.$radius-ex 0 v.$radius-ex 0;
      border-top: 1px;
      border-left: 1px;
      border-right: 1px;
      border-color: var(--main-border-color);
      left: 2px;

      @include bp.md {
        left: 1.6px;
      }

      @include bp.xl {
        left: 1.25px;
      }

      @include bp.xxxl {
        left: 0.75px;
      }

      &::before {
        content: "Previous";
        color: var(--text-muted-color);
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(5px, -2px);
      }

      &:hover:not(.disabled)::before {
        color: var(--secondary-color);
        background-color: transparent;
      }
    }

    &:last-child {
      border-radius: v.$radius-ex 0 v.$radius-ex 0;
      border-bottom: 1px;
      border-right: 1px;
      border-left: 1px;
      border-color: var(--main-border-color);
      right: 2px;

      @include bp.md {
        right: 1.6px;
      }

      @include bp.xl {
        right: 1.25px;
      }

      @include bp.xxxl {
        right: 0.75px;
      }

      &::before {
        content: "Next";
        color: var(--text-muted-color);
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-5px, 2px);
      }

      &:hover:not(.disabled)::before {
        color: var(--primary-color);
        background-color: transparent;
      }
    }
  }

  p {
    font-size: inherit;
    line-height: 1.5rem;
    margin-top: 1rem;

    @extend %title-style;
  }
}  /* .post-navigation */

@-webkit-keyframes fade-up {
  from {
    opacity: 0;
    margin-top: 4rem;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    margin-top: 4rem;
  }

  to {
    opacity: 1;
  }
}

/* TOC panel */

%top-cover {
  content: '';
  display: block;
  position: sticky;
  top: 0;
  width: 100%;
  height: 3rem;
  background: linear-gradient(var(--main-bg) 50%, transparent);
}

/* TOC panel */
#toc-wrapper {
  opacity: 0; /* Start hidden */
  top: 0;
  transition: opacity 1.2s ease-in-out;
  overflow-y: auto;
  max-height: 100vh;
  scrollbar-width: none;
  margin-top: 2rem;

  &:hover,
  &.visible {
    opacity: 1;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
  }

  &:not(.invisible) {
    -webkit-animation: fade-up 0.8s;
    animation: fade-up 0.8s;
    position: sticky;
  }

  ul {
    list-style: none;
    font-size: 0.85rem;
    line-height: 1.25;
    padding-left: 0;

    li a {
      padding: 0.4rem 0 0.4rem 1.25rem;
    }

    .toc-link {
      display: block;

      @extend %text-ellipsis;

      &:hover {
        color: var(--secondary-color);
        text-decoration: none;
      }

      &::before {
        display: none;
      }
    }

    .is-active-link {
      font-weight: 700;

      &::before {
        display: inline-block;
        width: 1px;
        height: 1.25rem;
        background-color: var(--primary-color) !important;
      }
    }

    ul {
      padding-left: 0.75rem;
    }
  }

  @at-root .toc-border-cover {
    @extend %top-cover;

    margin-bottom: -4rem;
    z-index: 3;
  }

  &::before {
    @extend %top-cover;
  }

  &::after {
    content: '';
    position: fixed;
    bottom: 0;
    width: 15%;
    height: 2.25rem;
    margin-left: -1px;
    background: linear-gradient(transparent, var(--main-bg) 70%);
  }

  > * {
    @extend %panel-border;
  }
}

#toc-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0 -1rem;
  margin-top: -3rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: linear-gradient(var(--main-bg) 70%, transparent);
  border-bottom: 1px solid var(--main-border-color);
  transition: all 0.2s ease-in-out;

  @extend %btn-color;

  > button {
    padding: 0.375rem 0.75rem;
    margin-right: 0.25rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
    line-height: inherit;
  }

  .label {
    @extend %heading;

    margin: 0 0 0 0.375rem;
    padding: 0 0.75rem;
    color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.invisible {
    top: -#{v.$topbar-height};
    transition: none;
    visibility: hidden;
  }

  @include bp.xl {
    display: none;
  }
}

#toc-solo-trigger {
  color: var(--text-muted-color);
  border: 1px solid var(--btn-border-color);
  border-radius: .2rem;
  margin-top: -2rem;
  background-color: transparent;
  cursor: pointer;
  visibility: hidden;

  .label {
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.25rem;
    font-family: v.$font-family-heading;
  }

  &:hover {
    box-shadow: none;
    background: none;
  }

  @include bp.xl {
    display: none !important;
  }
}

@mixin slide-in {
  from {
    opacity: 0.7;
    transform: translateY(-#{v.$topbar-height});
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin slide-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-#{v.$topbar-height});
    opacity: 0;
  }
}

@-webkit-keyframes slide-in {
  @include slide-in;
}

@keyframes slide-in {
  @include slide-in;
}

@-webkit-keyframes slide-out {
  @include slide-out;
}

@keyframes slide-out {
  @include slide-out;
}


%btn-share-hover {
  color: var(--btn-share-hover-color) !important;
}

.share-label {
  color: var(--text-muted-color);

  @include mx.label(inherit, 400, inherit);

  &::after {
    content: '';
  }
}

.content > p > img {
  @include bp.lte(bp.get(md)) {
    max-width: calc(100% + 1rem);
  }
}

h2,
h3,
h4 {
  @include bp.xl {
    scroll-margin-top: 2rem;
    scroll-behavior: smooth;
  }
}
