@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin mt-mb($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin ml-mr($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin pt-pb($val) {
  padding-top: $val;
  padding-bottom: $val;
}

@mixin pl-pr($val, $important: false) {
  @if $important {
    padding-left: $val !important;
    padding-right: $val !important;
  } @else {
    padding-left: $val;
    padding-right: $val;
  }
}

@mixin placeholder {
  color: var(--text-muted-color) !important;
}

@mixin placeholder-focus {
  opacity: 0.6;
}

@mixin label($font-size: 1rem, $font-weight: 700, $color: var(--label-color)) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin align-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin prompt($type, $icon-id, $rotate: 0) {
  &.prompt-#{$type} {
    background-color: var(--prompt-#{$type}-bg);
    border-left: 0.2rem solid var(--prompt-#{$type}-border-color);
    position: relative;

    .icons {
      position: absolute;
      right: 0.75rem;
      bottom: 1rem;
      color: var(--prompt-#{$type}-icon-color);
      
      @if $rotate != 0 {
        svg {
          transform: rotate(#{$rotate}deg);
          transform-origin: center;
        }
      }
    }
  }
}

@mixin icons($icon-id) {
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  vertical-align: -0.125em;
  
  background-image: url("#{'/assets/icons.svg#' + $icon-id}");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@mixin slide($append: null) {
  $basic: transform 0.4s ease;

  @if $append {
    transition: $basic, $append;
  } @else {
    transition: $basic;
  }
}

@mixin max-w-100 {
  max-width: 100%;
}
