/* buttons gap */

$btn-gap: 0.8rem !default;
$btn-gap-lg: 1rem !default;

/* other framework sizes */

$topbar-height: 3rem !default;
$search-max-width: 120px !default;
$footer-height: 5rem !default;
$footer-height-large: 6rem !default; /* screen width: < 850px */
$main-content-max-width: 85% !default;
$radius-xs: 4px !default;
$radius-sm: 0.2rem !default;
$radius-lg: 10px !default;
$radius-ex: 50px !default;
$back2top-size: 1.65rem !default;

/* syntax highlight */

$code-font-size: 16px !default;
$code-header-height: 2.25rem !default;
$code-icon-width: 1.75rem !default;

/* fonts */

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-monospace: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace !default;
$font-title: "Noto Serif Display", serif !default;

body {
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

code, pre, kbd, samp {
  font-family: $font-monospace;
  font-size: calc($code-font-size - 10%);
}
