<link
  rel="stylesheet"
  href="{{ site.data.cors.waline.css | relative_url }}"
/>

<script type="module">
  import { init } from "{{ site.data.cors.waline.js | relative_url }}";

  const walineThread = document.createElement("div");
  walineThread.id = "waline";

  const footer = document.querySelector("footer");
  if (footer) {
    footer.insertAdjacentElement("beforebegin", walineThread);
  }

  const locale = {
    nick: "Name",
    mail: "Mail",
    link: "Website",
    placeholder: "{{ site.comments.waline.placeholder }}",
    sofa: "",
    comment: "",
    word: "word",
    submit: "Reply",
    latest: "",
    oldest: "",
    hottest: "",
    reactionTitle: ""
  };

  const emojiPath = "{{ site.data.cors.waline.emojis | relative_url }}";
  const emojiSets = emojiPath ? [`${emojiPath}/qq`] : [];

  try {
    init({
      el: "#waline",
      serverURL: "{{ site.comments.waline.server }}",
      lang: "en",
      meta: ["nick"],
      count: false,
      login: "disable",
      search: false,
      emoji: emojiSets,
      dark: "__waline__css__",
      locale,
      pageview: false,
      reaction: false,
      path: window.location.pathname
    });

    const head = document.getElementsByTagName("head")[0];
    if (head) {
      const css = head.lastChild;
      if (css && css.textContent) {
        const cssContent = css.textContent.replace("__waline__css__", "");
        const cssContentPerferredDark =
          "@media (prefers-color-scheme: dark){html:not([data-mode])" +
          cssContent +
          "}";
        const cssContentSelectedDark = "html[data-mode=dark]" + cssContent;
        css.textContent = cssContentPerferredDark;
        const style = document.createElement("style");
        style.textContent = cssContentSelectedDark;
        head.appendChild(style);
      }
    }

    document.documentElement.style.setProperty(
      "--waline-theme-color",
      "var(--link-color)"
    );
    document.documentElement.style.setProperty(
      "--waline-active-color",
      "var(--active-color)"
    );

    const customStyle = document.createElement("style");
    customStyle.textContent = `
      #waline .wl-panel { 
        background-color: transparent !important; 
        box-shadow: none !important; 
        border-radius: 0 !important; 
        border: none !important; 
        margin: 0 !important; 
      }
      #waline .wl-editor { 
        width: 100% !important; 
        min-height: 4.75em !important; 
        margin: .75em 0em !important; 
        border-radius: 0 !important;
      }
      #waline .wl-editor, #waline .wl-input, #waline .wl-header label, #waline .wl-header input {
        color: inherit !important;
        font-size: inherit;
        font-family: inherit;
      }
      #waline .wl-editor:focus, #waline .wl-input:focus, .wl-card .wl-meta>span { 
        background: rgba(135, 135, 135, 0.05) !important; 
      }
      #waline .wl-power, #waline .wl-empty, #waline .wl-gif-popup { display: none !important; }
      #waline .wl-btn { border-radius: 0; }
      #waline .wl-header {
        border-radius: 0;
        padding: 0;
        border-bottom: 1px dashed var(--waline-border-color);
      }
      #waline .wl-emoji-popup {
        inset-inline-start: 2.75em;
        width: 75%;
        max-width: unset;
        top: 0;
        background: rgba(135, 135, 135, 0.05);
        backdrop-filter: blur(5px);
        box-shadow: none;
      }
      #waline .wl-emoji-popup .wl-tab-wrapper {
        max-height: 120px;
      }
      #waline .wl-count, #waline .wl-actions a, #waline .wl-actions button[title="Preview"], #waline .wl-action[title="Upload Image"]  {
        display: none !important;
      }
      #waline .wl-card .wl-content p, #waline .wl-card span.wl-nick { color: inherit;}
    `;
    document.head.appendChild(customStyle);
  } catch (error) {
    console.error("Failed to initialize Waline:", error);
  }
</script>
