---
layout: compress
---

<!doctype html>

{% include origin-type.html %}

{% include lang.html %}

{% if page.layout != 'post' %}
  {% include artblum.html %}
{% endif %}

{% if site.theme_mode %}
  {% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}

<html lang="{{ page.lang | default: site.alt_lang | default: site.lang }}" {{ prefer_mode }}>
  {% include head.html %}

  <body class="{% if page.layout == 'home' %}home{% endif %}">
    <div id="main-wrapper">
      <div class="container">
        {% include topbar.html lang=lang %}

        <div class="content-wrapper">
          <main id="main-content" aria-label="Main Content">
            {% if layout.refactor or layout.layout == 'default' %}
              {% include refactor-content.html content=content lang=lang %}
            {% else %}
              {{ content }}
            {% endif %}
          </main>

          <aside aria-label="Panel" id="panel-wrapper">
            <div class="access">
              {% include_cached update-list.html lang=lang %}
            </div>

            {% for _include in layout.panel_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}
          </aside>
        </div>

        <div class="footer-wrapper">
          <div id="tail-wrapper">
            {% for _include in layout.tail_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}

            {% include_cached footer.html lang=lang %}
          </div>
        </div>

        {% include_cached search-results.html lang=lang %}
      </div>

      <aside aria-label="Scroll to top">
        <button id="back-to-top" type="button">
          {% include icons.html icon="angle-up" class="" %}
        </button>
      </aside>
    </div>

    <div id="mask"></div>

    {% if site.pwa.enabled %}
      {% include_cached notification.html lang=lang %}
    {% endif %}

    {% for _include in layout.script_includes %}
      {% assign _include_path = _include | append: '.html' %}
      {% include {{ _include_path }} %}
    {% endfor %}

    {% include_cached search-loader.html lang=lang %}
  </body>
</html>
