---
layout: default
panel_includes:
 - toc
---

{% include lang.html %}
{% include toc-status.html %}

<article style="margin:0 0.25rem" data-toc="{{ enable_toc }}">
  {% if page.layout == 'page' or page.collection == 'sections' %}
    {% assign tab_key = page.title | downcase %}
    {% assign title = site.data.locales[lang].pages[tab_key] | default: page.title %}
    <h1 data-toc-skip class="dynamic-title">
      {{ title }}
    </h1>

  {% if enable_toc %}
    <div id="toc-bar">
      <span class="label">{{ page.title }}</span>
      <button type="button" class="toc-trigger">
        {% include icons.html icon="list-ul" class="fa-fw" %}
      </button>
    </div>

    <button id="toc-solo-trigger" type="button" class="toc-trigger">
      <span class="label">{{- site.data.locales[lang].panel.toc -}}</span>
      {% include icons.html icon="angle-right" class="fa-fw" %}
    </button>

    <dialog id="toc-popup">
      <div class="toc-header">
        <div class="label">{{- page.title -}}</div>
        <button id="toc-popup-close" type="button">
          {% include icons.html icon="xmark" class="" %}
        </button>
      </div>
      <div id="toc-popup-content"></div>
    </dialog>
  {% endif %}

    <div class="content">
      {{ content }}
    </div>
  {% else %}
    {{ content }}
  {% endif %}
</article>
