---
layout: default
refactor: true
panel_includes:
  - toc
tail_includes:
  - post-nav
  - comment
---

{% include lang.html %}

{% include toc-status.html %}

<article style="margin:0 0.25rem" data-toc="{{ enable_toc }}">
  <header>
    <h1 data-toc-skip class="dynamic-title">{{ page.title }}</h1>
    {% if page.description %}
      <p class="post-desc" aria-hidden="true" style="display: none;">{{ page.description }}</p>
    {% endif %}

    <div class="post-meta">
      <span>
        {{ site.data.locales[lang].post.posted }}
        {% include datetime.html date=page.date tooltip=true lang=lang %}
      </span>

      {% include read-time.html content=content prompt=true lang=lang %}

      {% if page.image %}
        {% capture src %}src="{{ page.image.path | default: page.image }}"{% endcapture %}
        {% capture class %}class="preview-img cover{% if page.image.no_bg %}{{ ' no-bg' }}{% endif %}"{% endcapture %}
        {% capture alt %}alt="{{ page.image.alt | xml_escape | default: "Preview Image" }}"{% endcapture %}

        {% if page.image.lqip %}
          {%- capture lqip -%}lqip="{{ page.image.lqip }}"{%- endcapture -%}
        {% endif %}

        <div class="cover-img">
          <img {{ src }} {{ class }} {{ alt }} w="1200" h="630" {{ lqip }}>
          {%- if page.image.alt -%}
            <figcaption>{{ page.image.alt }}</figcaption>
          {%- endif -%}
        </div>
      {% endif %}
    </div>
  </header>

  {% if enable_toc %}
    <div id="toc-bar">
      <span class="label">{{ page.title }}</span>
      <button type="button" class="toc-trigger">
        {% include icons.html icon="list-ul" class="fa-fw" %}
      </button>
    </div>

    <button id="toc-solo-trigger" type="button" class="toc-trigger">
      <span class="label">{{- site.data.locales[lang].panel.toc -}}</span>
      {% include icons.html icon="angle-right" class="fa-fw" %}
    </button>

    <dialog id="toc-popup"">
      <div class="toc-header">
        <div class="label">{{- page.title -}}</div>
        <button id="toc-popup-close" type="button">
          {% include icons.html icon="xmark" class="" %}
        </button>
      </div>
      <div id="toc-popup-content"></div>
    </dialog>
  {% endif %}

  <div class="content">
    {{ content }}
  </div>

  <div class="post-tail-wrapper">
    {% if page.categories.size > 0 %}
      <div class="post-meta">
        {% include icons.html icon="folder-open" class="fa-fw" %}
        {% for category in page.categories %}
          <a href="{{ site.baseurl }}/categories/{{ category | slugify | url_encode }}/">{{ category }}</a>
          {%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      </div>
    {% endif %}

    <div
      class="post-topic"
    >
      <div>
        {% if page.tags.size > 0 %}
          <div class="post-tags">
            {% include icons.html icon="tags" class="fa-fw" %}
            {% for tag in page.tags %}
              <a
                href="{{ site.baseurl }}/topics/{{ tag | slugify | url_encode }}/"
                class="post-tag"
              >
                {{- tag -}}
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      {% include post-sharing.html lang=lang %}
    </div>
  </div>
</article>
