---
layout: page
# The layout for Tag page
---

{% include lang.html %}

<div id="page-tag">
  <h1>
    {% include icons.html icon="tag" class="fa-fw text-muted" %}
    {{ page.title }}
    <sup>{{ page.posts | size }}</sup>
  </h1>
  <ul class="content">
    {% for post in page.posts %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash"></span>
        {% include datetime.html date=post.date class='datetime' lang=lang %}
      </li>
    {% endfor %}
  </ul>
</div>
