@use '../abstracts/breakpoints' as bp;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;
@use '../abstracts/placeholders';

footer {
  color: var(--text-muted-color);
  background-color: transparent;
  height: v.$footer-height;
  border-top: 1px solid var(--main-border-color);
  display: flex;
  line-height: 1.5;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @extend %text-xs;

  @include bp.lg {
    justify-content: space-between;
    padding-bottom: 1rem;
    flex-direction: row;
    align-items: center;
    height: v.$footer-height;
  }

  @include bp.lt(bp.get(lg)) {
    @include mx.slide;

    height: v.$footer-height-large;
    padding: 1.5rem 0;
  }

  a {
    @extend %text-highlight;

    &:hover {
      @extend %link-hover;
    }
  }

  em {
    @extend %text-highlight;
  }

  p {
    text-align: center;
    margin: 0;
  }
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: v.$btn-gap * 2;

  @include bp.lt(bp.get(lg)) {
    margin-bottom: v.$btn-gap;
  }

  a {
    color: var(--site-btn-color);

    &:hover {
      color: var(--primary-color);
      border: none;
    }

    i {
      font-size: 140%;
    }
  }
}
