@use '../abstracts/breakpoints' as bp;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;
@use '../abstracts/placeholders';

footer {
  background-color: var(--main-bg);
  height: v.$footer-height;
  border-top: 1px solid var(--main-border-color);
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;

  @extend %text-xs;

  @include bp.lt(bp.get(lg)) {
    @include mx.slide;

    height: v.$footer-height-large;
    padding: 1.5rem 0;
  }

  a {
    @extend %text-highlight;

    &:hover {
      @extend %link-hover;
    }
  }

  em {
    @extend %text-highlight;
  }

  p {
    text-align: center;
    margin-bottom: 0;
  }
}

.footer-social {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &:not(:last-child) {
  margin-right: v.$sb-btn-gap;

  @include bp.xxxl {
    margin-right: v.$sb-btn-gap-lg;
    }
  }

  a {
    color: var(--sidebar-btn-color);
    margin-right: 1rem;

    &:hover {
      color: var(--sidebar-active-color) !important;
      border: none;
    }

    i {
      font-size: 1.1rem;
      margin: 0 10px 10px 0;
    }
  }
}
