@use '../abstracts/breakpoints' as bp;
@use '../abstracts/mixins' as mx;
@use '../abstracts/placeholders';

.access {
  top: 2rem;
  transition: top 0.2s ease-in-out;
  margin-top: 3rem;

  &:only-child {
    position: -webkit-sticky;
    position: sticky;
  }

  > section {
    @extend %panel-border;

    padding-left: 1rem;

    &:not(:first-child) {
      margin-top: 4rem;
    }
  }

  .content {
    font-size: 0.9rem;
  }
}

#panel-wrapper {
  color: var(--text-muted-color);
  padding-left: .5rem;

  @include bp.xl {
    flex: 0 0 auto;
    width: 25%;
  }

  .panel-heading {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
    display: none;

    @include mx.label(inherit);
  }

  @include bp.lt(bp.get(xl)) {
    display: none;
  }
}
