@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mx;
@use "../abstracts/breakpoints" as bp;
@use "../abstracts/placeholders";

$btn-border-width: 3px;
$btn-mb: 0.5rem;

#topbar-wrapper {
  height: v.$topbar-height;
  background-color: transparent;

  @include bp.lt(bp.get(lg)) {
    @include mx.slide(top 0.2s ease);

    left: 0;
  }
}

#topbar {
  @extend %btn-color;

  #breadcrumb {
    font-size: 1rem;
    color: var(--text-muted-color);
    padding-left: 0.5rem;

    .home & {
      opacity: 0;
    }

    @include bp.lt(bp.get(lg)) {
      margin-left: 0.375rem;
      padding: 0 0.75rem;
    }

    a:hover {
      color: var(--primary-color);
    }

    span {
      &:not(:last-child) {
        &::after {
          content: "›";
          padding: 0 0.3rem;
        }
      }

      a {
        color: var(--secondary-color);
      }
    }

    @include bp.between(bp.get(lg), calc(#{bp.get(xl)} - 1px)) {
      width: 65%;
      margin-left: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: keep-all;
      white-space: nowrap;
    }
  }

  @include bp.lte(bp.get(md)) {
    @include mx.max-w-100;
  }

  @include bp.lt(bp.get(lg)) {
    max-width: 100%;
  }
}

.topbar-right {
  @include bp.lt(bp.get(lg)) {
    gap: 0.25rem;
  }
}

.theme-toggle-wrapper {
  @include bp.lt(bp.get(lg)) {
    justify-content: end;
    margin-right: 0.5rem;
  }

  #mode-toggle {
    width: 1.75rem;
    height: 1.75rem;
    margin-top: 1px;
    border-radius: 50%;
    color: var(--site-btn-color);
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    i > svg {
      height: 1em;
      width: 1em;
    }

    @include bp.lt(bp.get(lg)) {
      margin-right: 1rem;
      border: none;
      outline: none !important;
    }

    &:not(:focus-visible) {
      outline: 1px solid var(--btn-border-color);
    }

    &:hover {
      background-color: var(--site-hover-bg);
      color: var(--primary-color);

      i {
        color: var(--primary-color);
      }
    }
  }
}

.icon-border {
  @extend %no-cursor;
  @include mx.ml-mr(calc((v.$btn-gap - $btn-border-width) / 2));

  background-color: var(--site-btn-color);
  content: '';
  width: $btn-border-width;
  height: $btn-border-width;
  border-radius: 50%;

  @include bp.lt(bp.get(lg)) {
    display: none;
  }

  @include bp.xxxl {
    @include mx.ml-mr(calc((v.$btn-gap-lg - $btn-border-width) / 2));
  }
}

#search-trigger {
  display: none;

  @include bp.lt(bp.get(lg)) {
    display: none;
  }
}
